body article div[data-id=logseq-plugin-panel-coloring].panel-wrap {
    & div {
        &.desc-item {
            & p {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        }

        &.heading-item {
            margin-top: 3em;
            border-top-width: 1px;
            padding-top: 1em;

            & h2 {
                padding-bottom: .5em;
            }
        }

        &.desc-item.as-input {

            &[data-key=pn1],
            &[data-key=tn1],
            &[data-key=pc1],
            &[data-key=tc1] {
                margin-top: 1em;
            }

            &[data-key^=pn],
            &[data-key^=tn] {
                clear: left;
            }
            &[data-key^=pn],
            &[data-key^=tn]  {
                margin-left: 2em;
                & input[type=text] {
                    width: 300px;
                    padding: 0.1em;
                    font-size: 1.1em;
                }
            }

            &[data-key^=pn],
            &[data-key^=tn],
            &[data-key^=pc],
            &[data-key^=tc] {
                float: left;
            }

            &[data-key^=pn],
            &[data-key^=tn],
            &[data-key^=pc],
            &[data-key^=tc] {
                padding: 0.1em;

                &:not(:focus-within)>h2 {
                    display: none;
                }
            }

            &[data-key=pc12]+div.heading-item {
                clear: left;
            }
            &[data-key=tc12]+div[data-key=wordsMatchingParentPage] {
                clear: left;
            }
        }
    }
}